/*global*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
    background-color: beige;
}
a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
p{
    line-height: 1.5;
}
h1{
    margin: 20px;
}
h2{
    margin: 20px;
}
/*utilities*/
.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
header{
    height: 20vh;
    text-align: center;
}


/*menu*/
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
td,th{
    padding: 5px;
    width: 100px;
    text-align: center;
}
th{
    background-color: lightcoral;
}
.hl{
    font-weight: bold;
    background-color: bisque;
}
.dishesTable th {
    background-color: purple;
    color: white;
}

.dishesTable td {
    background-color: lavenderblush;
}

/* Dish of the month */
.dish-month-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.dish-month-img { 
    margin-right: 20px;
}

.dish-month-text h2 {
    font-size: 38px;
}

.dish-month-text p {
    font-size: 14px;
    margin: 10px 0;
}

.dish-month-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-flex p {
    font-size: 22px;
}

/* Dish Container */
.dish-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.dish-item {
    background-color: #222222;
    color: white;
}